.title {
   font-size: 60px;
   margin-bottom: 60px;
   text-align: center;
}

.content {
   display: flex;
   gap: 100px;
   align-items: center;
}

.imgContainer {
   flex: 1;
   position: relative;
   height: 500px;
}

.image {
   object-fit: contain;
   /* animation: move 2s infinite ease alternate; */
}

@keyframes move {
   from {
      transform: translateY(-15px);
   }

   to {
      transform: translateY(0px) scale(1.03);
   }
}

.form {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.input,
.textArea {
   padding: 20px;
   background-color: transparent;
   resize: none;
   color: #bbb;
   border: none;
   outline: none;
   border: 2px solid var(--primary-bg);
   border-radius: 8px;
   font-size: 14px;
   font-family: inherit;
   transition: all 300ms ease;
}

.input:focus,
.textArea:focus {
   border-color: white;
}