:root {
   --primary-bg: #53c28b;
   --transition: all 300ms easy;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
   background: #111;
   color: #bbb;
}

a {
   text-decoration: none;
   color: inherit;
}

.container {
   max-width: 1366px;
   margin: 0 auto;
   min-height: 100vh;
   padding: 0 60px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}